@using MVCSite.Web.ViewModels;
@using MVCSite.Web;
@model Layout
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <!-----start of main tab container-->
<style>

</style>
<div class="container">

</div>
<!--end of main tab container-->
