<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kootour</title>
    <style type="text/css">
        .keyword {
            color: #0779be;
            font-size: x-large;
        }

        .download-image-link:link, .download-image-link:visited, .download-image-link:hover, .download-image-link:active {
            border: none;
        }

        .logo-image {
            border: none;
            height: 50px;
            width: 120px;
            margin-right: 20px;
        }
    </style>
</head>
<body link="#0996df">
    <table width="620" border="0" cellpadding="25" bgcolor="#c7e2f3">
        <tr>
            <td>
                <table width="620" border="0" cellpadding="10" cellspacing="0">

                    <tr>
                        @RenderBody()
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#0079be" style="color: #ffffff;">
                            <font color="#ffffff" face="Arial, Helvetica, sans-serif">
                                <strong>Please do NOT reply directly as this email was sent by machine automatically.</strong><br />
                            </font>
                        </td>
                    </tr>
                    @*                    <tr>
                            <td colspan="2" bgcolor="#0079be" style="color: #ffffff;">
                                <strong>Website:<a href="http://www.vjiaoshi.com/Account/LogOn/" style="color: #ffffff;"
                                    target="_blank">www.virtualstudylab.com</a> | Customer Service Email:<a href="mailto:kefu@vjiaoshi.com" style="color: #ffffff;"
                                        target="_blank">kefu@vjiaoshi.com</a><br />
                                </strong><font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2px">&nbsp;Copyright©
                                    2013-2018 Vjiaoshi Inc. All Rights Reserved. </font>
                            </td>
                        </tr>*@
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
