@using MVCSite.Biz

@model EmailForgotPassword


<td colspan="2" bgcolor="#FFFFFF">
    <font face="Arial, Helvetica, sans-serif" color="#0779be" size="5"><strong>Hi @Model.UserName,</strong></font> 
    <font face="Arial, Helvetica, sans-serif" color="#000000">
        <p>
            A new password has been requested for your account. To reset your password please click the following link:
        </p>
        <p>
            <a href="@Model.ConfirmationLink" target="_blank">@Model.ConfirmationLink</a>
        </p>
        <p>
            (If the link doesn't work, copy the link and paste it into your web browser.)
        </p>
    </font>
    <font face="Arial, Helvetica, sans-serif" color="#000000"></font></p> <font face="Arial, Helvetica, sans-serif"
        color="#000000">
        <p>
            <b>Thanks very much for your support!</b>
        </p>
    </font>
</td>
