<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Mailer.SMTPServer" value="smtp.1and1.com" />
    <add key="Mailer.SMTPServerPort" value="587" />
    <!--<add key="Mailer.SMTPServerUserName" value="mailout@prophecyresource.com" />-->
    <add key="Mailer.SMTPServerUserName" value="noreply@kootour.com" />
    <add key="Mailer.SMTPServerPassword" value="Admin2Cloud" />
    <add key="Mailer.SMTPDisplayUserName" value="Kootour" />
    <add key="Mailer.EnableSSL" value="false" />
    <add key="Mailer.SendToFolder" value="false" />
    <add key="Mailer.OutgoingFolder" value="D:\temp" />
    <add key="Mailer.SendEmailInterval" value="3" />
    <add key="Mailer.MaxDegreeOfParallelism" value="10" />
    <add key="Mailer.WaitSecondsAfterScan" value="10" />
  </appSettings>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="EventLogAppender" />-->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="kootourConnectionString" connectionString="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" providerName="System.Data.SqlClient" />
    <add name="collaborConnectionString" connectionString="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" providerName="System.Data.SqlClient" />
    <add name="statConnectionString" connectionString="Data Source=Linkin;Initial Catalog=EmailServer;User ID=_Kootour__;Password=omniKootour" providerName="System.Data.SqlClient" />
    <!--<add name="Repository" connectionString="metadata=res://*/Repository.csdl|res://*/Repository.ssdl|res://*/Repository.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VOICESERVER;Initial Catalog=WMathStat;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>