@model MVCSite.Web.ViewModels.Layout
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seoinfo{
    <title>Resend confirmation email | Kootour</title>
    @*The following 3 lines is for google plus*@
    <meta itemprop="name" content="@Model.MetaName" />
    <meta name="description" content="Resend confirmation email." />
    <meta itemprop="image" content="@Url.Content("~/images/kootour.ico")" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="robots" content="noindex,nofollow" />
}
<div class="container">
    <div class="row">

        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="section">
                <span class="title">Registration confirmation is re-sent. </span>
                <p>Please check your mailbox to activate your account. Thanks</p>
                <a href="/">Return to Kootour main page</a>
            </section>
        </div>
    </div>
</div>

