@{
    Layout = "";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML Strict//EN">
<html>
<head id="head">
    <meta property="qc:admins" content="1030217660625163076375" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/ico" href="/Content/Images/favicon.jpg" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/Content/site.core.css" />
    <link rel="stylesheet" type="text/css" href="/Content/site.core.extend.css" />
    <link rel="stylesheet" type="text/css" href="/Content/site.popup.css" />
    <link rel="stylesheet" type="text/css" href="/Content/validation.css" />
</head>
<body class="account-page extra-large-window">
    <div class="clearfix" id="header">
        <div class="header-wrapper">
            <div class="header-btn header-logo">
                <a title="Vjiaoshi" class="header-btn-target" href="/">
                    <img src="@Url.Content("~/images/icons/logo_header.png")" alt="KooTour logo" width="82px;" height="30px;" />
                </a>
            </div>
        </div>
        <p id="notification" style="display: none;">
        </p>
    </div>
    <div class="clearfix" id="surface">
        <div class="account-header">
            <img src="@Url.Content("~/images/icons/logo_header.png")" alt="KooTour logo">
        </div>
        <div class="account-content clearfix">
            <div class="even">
                <h1>
                    很抱歉，微教室目前暂不支持你的浏览器.
                </h1>
                <p>
                    请使用 <a href="http://www.google.com/chrome/">Chrome 9</a> 及以上版本浏览器,
                    <a href="http://www.firefox.com/">Firefox 4</a> 及以上版本浏览器, @*<a href="http://www.apple.com/safari/">
                        Safari 5.0.5</a> 及以上版本浏览器,*@ <a href="http://www.microsoft.com/ie">微软IE 8.0</a> 及以上版本浏览器访问本站。
                </p>
                <h1>
                    微软IE 6.0, 7.0浏览器及其他浏览器请使用你的浏览器下载安装Google Chrome Frame后使用。
                </h1>
                <h1>
                    <a href="http://code.google.com/chrome/chromeframe/" target="_blank">点此下载 Google Chrome Frame。</a>
                </h1>
                <p>
                    谢谢你对微教室的支持!
                </p>
                <a href="/">点此回到首页</a>
            </div>
        </div>
    </div>
    <div id="modal-overlay" style="display: none">
    </div>
    <div id="PopupDialog" style="display: none;">
    </div>
    <script type="text/javascript" src="/js/Analytics.js"></script>
</body>
</html>
