<section class="section noshadow noborder transparent text-center">
    <h2>Also find us on social!</h2>
    <div class="lg-social-links">
        <a href="https://www.facebook.com/kootour"><img src="/images/icons/icon_facebook_color.png"></a>
        <a href="https://twitter.com/gokootour"><img src="/images/icons/icon_twitter_color.png"></a>
        <a href="https://www.instagram.com/kootour/"><img src="/images/icons/icon_instagram_color.png"></a>
        <a href="https://www.linkedin.com/company/kootour"><img src="/images/icons/icon_linkedin_color.png"></a>
        @*<a href="https://plus.google.com/115377427222194102916"><img src="/images/icons/icon_google_color.png" /></a>*@
    </div>
</section>