<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Mixed Platforms</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://front.kootour.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://108.175.11.179</MSDeployServiceURL>
    <DeployIisAppPath>KootourFront</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="collaborConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\collaborConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="kootourConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\kootourConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Linkin;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="statConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=EmailServerFront;User ID=_Kootour__;Password=omniKootour" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Linkin;Initial Catalog=EmailServerFront;User ID=_Kootour__;Password=omniKootour" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\statConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Linkin;Initial Catalog=EmailServerFront;User ID=_Kootour__;Password=omniKootour" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)collaborConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kootourConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=KootourFront;User ID=_Kootour__;Password=omniKootour</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)statConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=EmailServerFront;User ID=_Kootour__;Password=omniKootour</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>