#mainList
{
	padding-top: 1px;
	padding-bottom: 80px;
	margin-top: 0px;
	background-image: url("/Content/Images/bgtexture.png?v=20111106");
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}
#mainList .content
{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#mainList .title
{
	line-height: 22px;
	font-size: 18px;
}

.descriptionText
{
     word-wrap: break-word;
     text-align:left;
     white-space: normal;
}

#favDescription h1,#favDescription div,#favDetails h2,#favDetails .box div
{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;	
	margin-bottom: 10px;	
}
#favDetails h2,#favDetails .box div
{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;	
	margin-bottom: 10px;
}
#favDetails .box .bd
{
	margin-top: 0px;	
	margin-bottom: 0px;
}

#favDetails .oddBackground
{
     background-color:#EFF9FF;
}
#favDetails .evenBackground
{
     background-color:White;
}